body {
	background-image: url("img/tunnel1.jpg");
}

div {
	padding-bottom:30px;
}

.details {
    background-color: rgba(146, 167, 167,0.7);
}

h1,h2,h3,h4,h5,p,li {
	color: azure;
}

.carousel-inner img {
	display: block;
    margin: 0 auto;
}

video {
	display: block;
    margin: 0 auto;
}


.carousel-control-prev,.carousel-control-next {
	color: azure;
}

.form-inline {
	float: right;
}

.controls {
	display: none;
}

.colour2 {
	background-color: rgba(108, 112, 111, 0.7);
}

.colour3 {
	background-color: rgba(146, 167, 184, 1);
}
.colour3t {
	background-color: rgba(146, 167, 184, 0.7);
}

.des {
	padding-left:50px;
	padding-right:50px;
}

.features {
	padding:top:20px;
	height:600px;
	width:350px;
	background-color: rgb(233, 243, 250);
}

.members {
	padding:top:20px;
	background-color: rgb(233, 243, 250);
	width:250px;
	height:400px;
}
.img_members {
	width:250px;
	height:250px;
}

.icon {
	height:150px;
	width:150px;
	display: block;
    margin: 0 auto;
}

.logo {
	height:100px;
}

#group_img {
	width:640px;
	height:480px;
	display: block;
    margin: 0 auto;
}



